.card{
    justify-content: center;
    text-align: center;
    margin: auto;
    border: solid 5px #6f00ff;
    border-radius: 16px;
    max-width: 70%;
    min-width: 50%;
    margin-bottom: 32px;
}